<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295014545853-up1u60f8pmdaj4fptfcf8blo242ivfhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295014545853-up1u60f8pmdaj4fptfcf8blo242ivfhg</string>
	<key>API_KEY</key>
	<string>AIzaSyB4JLuQEhaAqZ3CGOXWFptHHCJc-Xju_Po</string>
	<key>GCM_SENDER_ID</key>
	<string>295014545853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fx.thelastproject</string>
	<key>PROJECT_ID</key>
	<string>democi</string>
	<key>STORAGE_BUCKET</key>
	<string>democi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295014545853:ios:4899404039c42318213ad4</string>
	<key>DATABASE_URL</key>
	<string>https://democi.firebaseio.com</string>
</dict>
</plist>